h1{
    color:teal
}

img{
    margin-left: 1000px;
    margin-top: 0px;
}



div.site-branding { /* Position Logo and Text  */
    display: inline-block;
    vertical-align: middle;
  }
  
  div.site-branding-logo { /* Position logo within site-branding */
    display: inline;
    vertical-align: middle;
  }
  
  div.site-branding-text { /* Position text within site-branding */
      display: inline;
      width: 350px;
      margin: auto 0;
      vertical-align: middle;
  }
  
  div.site-branding-title { /* Position title within text */
      display: inline;
  }
